/* nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(40deg, #45cafc, #303f9f);
	width: 100%;
	box-shadow: 1px 1px 10px 1px rgb(160, 160, 160);
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
}

a {
	text-decoration: none;
	color: white;
}

h1.Header_Title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	color: white;
	padding-left: 15px;
	font-weight: 100;
	text-shadow: 2px 2px grey;
}

.fa-bars, .fa-times {
	font-size: 25px;
	color: ghostwhite;
	padding-right: 25px;
}

.Header_UnorderedList {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 41px;
	right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
	list-style: none;
}

.Header_ListItem {
	padding: 10px;
}

.Header_UnorderedList.active {
	background:#42a5f5;
	right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

@media all and (min-width: 800px) {
	.fa-bars, .fa-times {
		display: none;
	}

	.Header_UnorderedList {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 41px;
		opacity: 1;
		transition: all 0.5s ease;
		list-style: none;
	}
} */



