.theAccordian {
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 7px;
    cursor: pointer;
    height: 100%;
}

p.paragraph_italics {
    font-style: italic;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.Accordian_Header {
    font-size: 18px;
    color: ghostwhite;
	background-color: #42a5f5;
}

.Accordian_Body {
    font-size: 14px;
}

li {
    margin-bottom: 7px;
}

@media all and (min-width: 1000px) {
    .theAccordian {
        width: 500px;
        margin-left: 25px;
    }

    .Accordian_Header {
        font-size: 22px;
    }

    .Accordian_Body {
        font-size: 18px;
    }
}