img.project-icon {
  width: 100%;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  border-radius: 5px;
}

.project-icon-container {
  margin-left: 10px;
  margin-right: 10px;
}

div.project {
  padding-bottom: 65px;
}

.engineering-position {
  display: flex;
  justify-content: center;
}

h5 {
  text-align: center;
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

p.project-description-blurb,
.project-tech-stack {
  font-size: 15px;
  color: rgb(73, 73, 73);
  line-height: 1.5;
}

.project-tech-stack {
  padding-bottom: 25px;
}

p {
  margin-top: 0px;
}

strong.tech-strong {
  font-size: 16px;
  font-style: italic;
  color: black;
}

.live-link-container {
  padding-right: 50px;
}

button.repo-button,
button.live-button {
  width: 120px;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff9800;
  border-radius: 10em;
  border: 0px solid white;
  outline: none;
  cursor: pointer;
  color: white;
}

.project-description {
  margin-left: auto;
  margin-right: auto;
}

.project-description-blurb {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

@media all and (min-width: 500px) {
  .project-description-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 800px) {
  .project-description-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  p.project-description-blurb,
  .project-tech-stack {
    font-size: 16px;
  }
  h5 {
    margin-top: 30px;
  }
}

@media all and (min-width: 1000px) {
  .project-description-container {
    margin-top: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  p.project-description-blurb,
  .project-tech-stack {
    font-size: 17px;
  }

  strong.tech-strong {
    font-size: 20px;
  }

  .project-description,
  .project-tech-stack {
    margin-bottom: 10px;
  }
}

@media all and (min-width: 1200px) {
  .project-description-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  p.project-description-blurb,
  .project-tech-stack {
    font-size: 18px;
    line-height: 2;
  }

  h5 {
    margin-top: 40px;
    font-size: 27px;
  }
}

@media all and (min-width: 1500px) {
  .project-description-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  h5 {
    margin-top: 50px;
    font-size: 28px;
  }
}
