footer {
  text-align: center;
  background-color: #2196f3;
  padding: 16px;
}

.copyright {
  color: hsla(0, 0%, 100%, 0.6);
}

@media all and (min-width: 700px) {
  footer {
    padding: 20px;
  }

  .copyright {
    font-size: 18px;
  }
}
