.about-me {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.hidden {
  display: none;
}

.item-header {
  cursor: pointer;
}

@media all and (min-width: 800px) {
  section.about-me {
    flex: 1;
    margin-top: 400px;
  }
}
